version: '3.8'
services:
  gateway:
    build:
      context: .
      dockerfile: Gateway/Dockerfile
    container_name: gateway
    ports:
      - "5230:5230"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5230
      - IDENTITY_URL=${IDENTITY_URL}
      - STAKEHOLDER_URL=${STAKEHOLDER_URL}
      - FOLLOWER_URL=${FOLLOWER_URL}
      - TOUR_URL=${TOUR_URL}